* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(rgba(74, 231, 116, 0.5), rgb(56 108 70 / 45%)); */
    /* background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,174,87,1) 0%, rgba(12,116,117,1) 90% ); */
    /* background-image: radial-gradient( circle 901px at 8.5% 52%,  rgba(115,36,102,1) 12.7%, rgba(149,48,131,1) 32.4%, rgba(168,67,149,1) 51.2%, rgba(225,202,50,1) 100.2% ); */
    /* background-image: linear-gradient( 248.1deg,  rgba(255,200,69,1) -0.1%, rgba(48,195,158,1) 100.5% ); */
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    /* font-family: 'Cinzel', serif; */

    /* font-family: 'Noto Serif', serif;*/

}

nav {
    /* background: linear-gradient(rgba(74, 231, 116, 0.5), rgb(174 209 183 / 45%)); */
    background-color: black;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid red; */
    height: 65px;
    position:sticky;
    top: 0;
    z-index: 6;

}

.logo {
    margin: 10px 138px;
}

.logo img {
    width: 20vh;
}

.navbar {
    margin-right: 150px;
    /* background-color: black; */
}

.navbar ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 20px 0px;
}

.navbar ul li {
    margin-right: 50px;
}

.navbar ul li a {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-family: 'Lato', sans-serif;
    color:gray;
    position: relative;
    padding: 16px 15px;
    
}
 .navbar a::before{
    content: "";
    position: absolute;
    top: 110%;
    left: 0;
    width: 0;
    height: 2px;
    border-bottom: 2px solid red;
    transition: all 0.5s linear;
}


.navbar a:hover::before
{
  width: 100%;
 
}
.navbar a:hover
{
    background-color: #fa709a;
    border-radius: 20px;
}

.text {
    position: absolute;
    top: 250px;
    left: 110px;
    font-family: 'Archivo', sans-serif;
}

.text h1 {
    font-size: 55px;
    font-weight: bolder;
    text-transform: capitalize;
}

.text p {
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
}

.image {
    position: absolute;
    right: 110px;
    bottom: 50px;
    /* border-radius: 84% 77% 75% 67% / 100% 76% 83% 0%   ; */
    /* background-color: aqua; */
    /* box-shadow: 4px 11px 5px 0px rgba(0,0,0,0.36);
    -webkit-box-shadow: 4px 11px 5px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 4px 11px 5px 0px rgba(0,0,0,0.36); */
}

.image img {
    width: 35vw;
}

.btn {
    position: absolute;
    bottom: 130px;
    left: 110px;
    border-radius: 50px;
}

.btn a {
    text-decoration: none;
    padding: 10px 25px;
    background-color: red;
    border-radius: 20px;
    color: white;
    font-size: 15px;
    font-family: 'Noto Serif', serif;
    transition:0.5s;
    position: relative;
    /* box-shadow: 4px 11px 5px 0px rgba(0,0,0,0.36);
    -webkit-box-shadow: 4px 11px 5px 0px rgba(0,0,0,0.36);
    -moz-box-shadow: 4px 11px 5px 0px rgba(0,0,0,0.36);
    z-index: 1;
    overflow: hidden; */
    
    
}
/* .btn a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    border-radius: 20px;
    transition:all 0.3s linear;
    
    
    
}

.btn a:hover::before {
    transform: translateX(0);
    z-index: -1;
    
   
} */
.btn a:hover{
    color: yellow;
}
.base {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.slider1 {
    margin-top: 20px;
    /* z-index: -1; */
}

.category {
    /* margin-top: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.category img {
    width: 20vw;
}

.category-1 {
    margin-left: 10px;
}

.product-heading {
    text-align: center;
    position: relative;
    top: 50px;
    font-family: 'Noto Serif', serif;
    font-size: 15px;
}

.product-heading::after {
    content: '';
    width: 90px;
    height: 3px;
    border-radius: 5px;
    background-color: red;
    position: absolute;
    transform: translateX(-50%);
}

.f-product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
    transition:  0.5s;
}

.f-product img,
.l-product img,
.l-product-dwon img {
    width: 15vw;
}

.f-product img:hover {
    transform: translateY(-15px);
    /* box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.5);
    border-radius: 10px; */
}

.f-product .product-1,
.product-2,
.product-3,
.product-4 {
    margin-left: 10px;
}

.f-product .rating {
    color: rgb(243, 132, 13);
}

.f-product .product-1 h3,
.product-2 h3,
.product-3 h3,
.product-4 h3 {
    font-family: sans-serif;
    font-size: 15px;
}

.l-product {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
    transition: 0.5s;
}

.l-product .product-1,
.product-2,
.product-3,
.product-4 {
    margin-left: 10px;
}

.l-product img:hover {
    transform: translateY(-10px);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.l-product-dwon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: 0.5s;
}

.l-product-dwon img:hover {
    transform: translateY(-10px);
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.rating{
    color: red;
}
.slider-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    width: 100%;
    margin-top: 100px;
    background: linear-gradient(rgba(255, 181, 116, 0.48), rgba(206, 134, 82, 0.5));
}

.slider-4 .col-1 {
    margin-left: 400px;
}

.slider-4 .col-2 {
    margin-right: 350px;
}

.slider-4 .col-1 img {
    width: 25vw;
}

.btn-2 {
    margin-top: 50px;
}

.btn-2 a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: red;
}

.slider-5 {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.slider-5 .user-1 {
    text-align: center;
    width: 20vw;
    height: 50vh;
    padding: 40px 20px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.5s;
}
.fa-quote-left{
    font-size: 30px;
    color: red;
    margin-bottom:10px ;
}
.fa-star{
    margin-top: 10px;
}
.user-1 img {
    border-radius: 50%;
    width: 50px;
    margin-top: 20px;
}
.user-1:hover{
    transform: translateY(-15px);
}
.user-1 p{
    color: #777;
    margin: 12px 0px;
}
.user-1 h2{
    color: #555;
    font-weight: 600;
    font-size: 15px;
}
.slider-6{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    /* padding-top: 100px; */
    padding-bottom: 100px;
}
.slider-6.brand{
    padding: 40px 20px;
    margin-left: 50px;
    
}
.slider-6 img{
    width: 10vw;
    filter: grayscale(100%);
}
.slider-6 img:hover{
    filter: grayscale(0);
    cursor: pointer;
}
.footer-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#232775
}
.footer-c1{
    margin: 20px 30px;
}
.footer-c1 img{
    width: 10vw;
    margin: 5px 3px;
}
.footer-c2{
    margin-top: 10px;
}
.footer-c2 ul{
    list-style:none;
    display: flex;


}
.footer-c2 ul li{
    margin-left: 20px;
}
.footer-c2 ul li a{
    text-decoration: none;
    color: white;
    
}